# Для интеграции с 1С
LOGIN_1C = 'LOGIN_1C'
PASSWORD_1C = 'PASSWORD_1C'

# Для шифрования токенов
SECRET_KEY = 'SECRET_KEY'
WEB_APP_1C_HOST = 'WEB_APP_1C_HOST'

# Для наполнения контентом
admin_login = 'admin_login'
admin_password = 'admin_password'