# Для интеграции с 1С
LOGIN_1C = 'LOGIN_1C'
PASSWORD_1C = 'PASSWORD_1C'

# Для шифрования токенов
SECRET_KEY = 'SECRET_KEY'
WEB_APP_1C_HOST = 'WEB_APP_1C_HOST'

# Для наполнения контентом
admin_login = 'admin_login'
admin_password = 'admin_password'

# GSM-шлюз. Полный адрес. Функция от текста сообщения message
gsm_connect_string = lambda message: \
    f"http://192.168.51.251:80/sendsms?username=xxx&password=xxx&phonenumber=xxx&message={message}&[port=xxx&][report=xxx&][timeout=xxx]"