#############################################
#  ПРИМЕР ФАЙЛА СО СКРЫТЫМИ НАСТРОЙКАМИ     #
#  ИНФОКИОСКА                               #
#  СКОПИРУЙТЕ ЭТОТ ФАЙЛ КАК app_secrets.py  #
#  В КОРНЕВОЙ ПАПКЕ ПРОЕКТА.                #
#  ИЗ СООБРАЖЕНИЙ БЕЗОПАСНОСТИ,             #
#  НЕ ПУБЛИКУЙТЕ ФАЙЛ.                      #
#-------------------------------------------#


# Для интеграции с 1С
#-------------------------------------------#
# Логин/Пароль
LOGIN_1C = 'LOGIN_1C'
PASSWORD_1C = 'PASSWORD_1C'

# URL сервиса 1C для запроса информации о пользователе
APP_1C_USER_URI = '' 

# URL сервиса 1C для заказа справок
APP_1C_SERVICE_URI = '' 

## Имя автора заявки в 1С
APP_1C_SERVICE_AUTHOR_NAME = 'Информационный киоск'

## UUID автора заявки в 1С
APP_1C_SERVICE_AUTHOR_UUID = '262b1a9e-e8b5-11ec-bc0d-3868dd145682'

## UUID шаблона бизнес-процесса в 1С
APP_1C_SERVICE_BUSINESS_PROCESS_TEMPLATE_ID = '6d96f09a-ddb9-11ec-bc0d-3868dd145682'
#-------------------------------------------#


# Для шифрования токенов
#-------------------------------------------#
SECRET_KEY = 'SECRET_KEY'
#-------------------------------------------#


# Для наполнения контентом
#-------------------------------------------#
# Параметры basic авторизации
admin_login = 'admin_login'
admin_password = 'admin_password'
#-------------------------------------------#

# Настройки GSM
#-------------------------------------------#
## GSM-шлюз. Полный адрес.
GSM_CONNECT_STRING = "http://192.168.51.251/sendsms"

## Хедеры запроса на GSM-шлюз
GSM_HEADERS = {
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
    'Accept-Language': 'ru,ru-RU;q=0.9,en-US;q=0.8,en;q=0.7,uk;q=0.6,da;q=0.5,ro;q=0.4',
    'Cache-Control': 'max-age=0',
    'Connection': 'keep-alive',
    'DNT': '1',
    'Upgrade-Insecure-Requests': '1',
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36',
}

## Параметры GSM
## В параметрах указывайте всё, кроме номера телефона и сообщения
## Если хотите протестировать GSM, можете указать любой номер в phonenumber, на него прийдут все сообщения с кодом
GSM_PARAMS = {
    'username': '...',
    'password': '...',
    #'phonenumber': '...',
    'port': 'gsm-1.4',
    'report': 'json'
}
#-------------------------------------------#
